In [35]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [36]:
calls_der = pd.read_csv('data/911_calls_der.csv')

In [37]:
calls_tor = pd.read_csv('data/911_calls_tor.csv')

In [38]:
cad_tor = pd.read_csv('data/CAD_data_tor.csv', skiprows = 3)

In [39]:
cad_der = pd.read_csv( 'data/CAD_data_der.csv', skiprows = 3)

In [40]:
calls_der = calls_der.rename(columns = {'Seizure DateTime':'date_time', 'CallTypeId':'call type', 'ALI Latitude':'lat',
                                        'ALI Longitude': 'lng', 'Cell Tower Address':'cell tower address'})

In [41]:
calls_tor = calls_tor.rename(columns = {'Seizure DateTime':'date_time', 'CallTypeId':'CallType', 'ALI Latitude':'lat',
                                        'ALI Longitude':'lng', 'Cell Tower Address': 'cell_tower_address'})

In [42]:
cad_der = cad_der.rename(columns = {'IncidentDate':'incident_date', 'Latitude1':'lat', 'Longitude1': 'lng',
                                   'IncidentTypeDescription1':'incident_type'})

In [43]:
cad_tor = cad_tor.rename(columns = {'IncidentDate':'incident_date', 'Location':'location', 'Latitude1':'lat',
                                    'Longitude1':'lng','IncidentTypeDescription1':'incident_type'})

In [44]:
cad_tor.head()

,incident_date,location,lat,lng,incident_type
0,3/3/2020 12:36:34 AM,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
1,3/3/2020 12:37:24 AM,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
2,3/3/2020 12:38:17 AM,110 TUNE AIRPORT DR,36.179299,-86.883727,STRUCTURE FIRE COMMERCIAL INDUSTRIAL
3,3/3/2020 12:39:40 AM,555 MARRIOTT DR,36.151108,-86.689921,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
4,3/3/2020 12:39:42 AM,1414 COUNTY HOSPITAL RD,36.177926,-86.845934,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD

In [45]:
calls_der['geometry'] = calls_der.apply(lambda x: Point((float(x.lng),
                                                        float(x.lat))),
                                       axis=1)
calls_der.head(2)

,date_time,call type,lat,lng,cell tower address,geometry
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER,POINT (-86.716847 36.247802)
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE,POINT (-86.80062099999999 36.14310800000001)

In [46]:
calls_tor['geometry'] = calls_tor.apply(lambda x: Point((float(x.lng),
                                                        float(x.lat))),
                                       axis=1)
calls_tor.head(2)

,date_time,CallType,lat,lng,cell_tower_address,geometry
0,3/3/2020 0:34,911 Calls,36.072708,-86.665779,620 Richards RD - N Sector,POINT (-86.665779 36.072708)
1,3/3/2020 0:36,911 Calls,36.159634,-86.841904,4507D KENTUCKY AV - SE,POINT (-86.841904 36.159634)

In [47]:
cad_tor['geometry'] = cad_tor.apply(lambda x: Point((float(x.lng),
                                                    float(x.lat))),
                                   axis=1)
cad_tor.head(2)

,incident_date,location,lat,lng,incident_type,geometry
0,3/3/2020 12:36:34 AM,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD,POINT (-86.89405212 36.18200191)
1,3/3/2020 12:37:24 AM,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD,POINT (-86.89497756999999 36.175666)

In [48]:
cad_der['geometry'] = cad_der.apply(lambda x: Point((float(x.lng),
                                                    float(x.lat))),
                                   axis=1)
cad_der.head(2)

,incident_date,Location,lat,lng,incident_type,geometry
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD,POINT (-86.96252641 36.04687715)
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD,POINT (-86.94067952 36.08249081)

In [49]:
print(type(calls_tor))
print(type(calls_der))
print(type(cad_tor))
print(type(cad_der))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [52]:
calls_tor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_time           475 non-null    object
 1   CallType            475 non-null    object
 2   lat                 450 non-null    float64
 3   lng                 450 non-null    float64
 4   cell_tower_address  468 non-null    object
 5   geometry            475 non-null    object
dtypes: float64(2), object(4)
memory usage: 22.4+ KB